﻿@model AdministrationModule.Domain.Entities.Category

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <button type="button" class="close col-md-offset-11 col-md-1" data-dismiss="modal" aria-hidden="true">X</button>
            </div>
                <div class="row">
                    <div class="col-md-12">

                        <form method="post" class="form-horizontal" action="Nav/AddCategory" role="form">
                            <fieldset>
                                <legend id="addNewCategoryLegend">Add new category</legend>
                                @Html.AntiForgeryToken()

                                <div class="modal-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group label-floating">
                                        <label for="CategoryNameInput" class="control-label col-md-12" id="CategoryNameLabel">Category name</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" id="CategoryNameInput" name="CategoryName">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
