﻿@model AdministrationModule_Group15.Models.ComponentNumberViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <button type="button" class="close col-md-offset-11 col-md-1" data-dismiss="modal" aria-hidden="true">X</button>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <form method="post" class="form-horizontal" action="Nav/AddCategory" role="form">
                        <fieldset>
                            <legend>Add component</legend>

                            @Html.AntiForgeryToken()
                            <div class="modal-body">

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    @Html.HiddenFor(model => model.Componentid)

                                    <div class="form-group label-floating">
                                        <label for="seriesNr" class="control-label col-md-12 addComponentLabel">Series number</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control addComponentInput" id="seriesNr" name="SeriesNr">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.SeriesNr, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group label-floating">
                                    <label for="componentNumber" class="control-label col-md-12 addComponentLabel">Component number</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control addComponentInput" id="componentNumber" name="ComponentNumber">
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ComponentNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
