﻿@using AdministrationModule.Domain.Entities
@model IEnumerable<AdministrationModule.Domain.Entities.Category>




@* This design has been inspired by from: http://www.jonathanbriehl.com/2014/01/17/vertical-menu-for-bootstrap-3/ *@
<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" id="component_side_header"><b>Components</b></div>
            </div>
            <div class="navbar-collapse navbar-responsive-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="allComponents">@Html.ActionLink("All components", "Index", "Home", null, new { id = "allComponents" })</li>
                    @foreach (var category in Model)
                    {
                        <li class="categoryName"><a href="@Url.RouteUrl("ComponentsInCategory", new {name = @category.CategoryName, id = @category.CategoryId})"> @category.CategoryName <span class="badge pull-right">@category.Components.Count</span></a></li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

