﻿@model AdministrationModule_Group15.Models.CategoriesAndComponents

@{
    ViewBag.Title = "Embedded Stock - Main Page";
}
@* Modal containers *@
<div class="modal fade in" id="addComponentModal">
    <div id="addComponent_container"></div>
</div>

<div class="modal fade in" id="addCategoryModal">
    <div id="addCategory_container"></div>
</div>
@* ********************************************** *@
<div class="row">
    @* Side nav bar *@
    <div class="col-md-4 navbar-left">
        @Html.Partial("Partials/Nav", Model.Categories)
    </div>

    <div class="col-xs-12 col-md-8">
        <div class="row btn-group">
            <div class="col-xs-12">
                <div class="btn btn-primary " id="addNewCategoryBtn">
                    Add category
                </div>
                @Html.ActionLink("Add component", "Create", "Component", null, new { @class = "btn btn-primary ", id = "addNewComponent" })
            </div>
            </div>
            <div class="row">
                <div class="col-md-12"></div>
                <table class="table table-bordered table-hover" id="componentTable">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Component</th>
                            <th class="visible-md">Category</th>
                            <th class="visible-md">Quantity</th>
                            <th>Options</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var component in Model.Components)
                        {
                            <tr>
                                <td>
                                    @if (component.Image != null)
                                    {
                                        var base64 = Convert.ToBase64String(component.Image);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                        <img class="img-thumbnail" width="20%" src="@imgSrc" />
                                    }
                                </td>

                                <td>@Html.ActionLink(@component.ComponentName, "ComponentDetails", "Component", new { id = @component.ComponentId }, null)</td>
                                <td class="visible-md">@component.Category.CategoryName</td>
                                <td class="visible-md">@component.ComponentNumbers.Count()</td>
                                <td>
                                    <a class="addComponentModalBtn optionsButton" data-id="@component.ComponentId"><i class="fa fa-plus-circle"></i></a>  |
                                    <a href="@Url.Action("Edit", "Component", new { id = component.ComponentId })" class="optionsButton"><i class="fa fa-pencil">  </i></a>  |
                                    <a href="@Url.Action("Delete", "Component",
                                             new { id = component.ComponentId, numberOfNumbersAndComments = component.ComponentNumbers.Count() })"
                                       class="optionsButton"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    @*@section scripts{

            <script type="text/javascript" src="@Url.Content("~/Scripts/EmbeddedStock_Scripts/EmbStock.js")"></script>
        }*@
