﻿
#addNewComponent {
    margin-bottom: 10px;
    background-color: grey;
    color: white;
}
#addNewCategoryBtn {
    margin-bottom: 10px;
    background-color: grey;
    color: white;
    margin-right: 5px
}

#componentTable {
    table-layout: fixed;
}

/*Style for the small buttons in the "Options" column*/
.optionsButton {
    margin-right: 3px;
    margin-left: 3px;
    font-size: 18px;
}

/*Style for the input when adding new category*/
#CategoryNameInput {
    border-bottom: 2px solid;
}

label#CategoryNameLabel {
    text-align: left;
}

label.addComponentLabel {
    text-align: left!important; 
}

input.addComponentInput {
       border-bottom: 2px solid !important;
}

