﻿

/*The following is taken from: http://www.jonathanbriehl.com/2014/01/17/vertical-menu-for-bootstrap-3/*/
div.sidebar-nav .navbar-default {
         background-color: white;
}
 .sidebar-nav .navbar .navbar-collapse {
    padding: 15px;
    max-height: none;

  }
  .sidebar-nav .navbar ul {
    float: none;
  }

  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
/*Style for the component header*/
div#component_side_header.navbar-brand {
    color: #4CAF50;
    font-size: 20px;
    
}

/*When hovering category*/
  .sidebar-nav .navbar li.categoryName:hover {
      background: black;
  }
/*Black background and the text of the anchor element should be white*/
 .navbar-default .navbar-nav li  a:hover {
      color: white;
  }
/*Else the anchor has black text*/
.navbar-default .navbar-nav li  a {
      color: black;
  }

  #allComponents {
      background: #4CAF50;
      color: white;
  }


  /*******************************************************/