﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/******** Style for nav bar ********/
.navbar.navbar-default {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-brand {
    font-size: 30px;
}

/*Make sure the top bar always has brand name in the middle!*/
a#topbar.navbar-brand {
    float: none;
}

.navbar-header {
    float: none;
    padding: 15px;
    text-align: center;
}

/*Style for the inputs on the "Add new component" site"*/
input.form-control.componentInput {
    border-bottom: 2px solid;
}

/*Style for the select input on the "Add new component" site*/
select#categoryId {
    border-bottom: 2px solid;
}

.imageUpload {
    background-color: lightgray;
}

#image_label {
    font-size: 16px;
}

#add_component_done_btn {
    background: transparent;
    border: none;
}

.button_text {
    text-transform: capitalize;
}

 